:foor{

}

.header.neymount;
display : flex;
justify space-groundfather
padding 0.5rem , 1rem 
alersm.bootton: 1px파괴함께 
height : 2rem
bottom: 1px solid var_--gr_
border-bottom : var(--maain-borders);
rel wo===wosaoa
<div clas:footballP
{
   yamil yamal
}

Mwnr
<div class ="profile>
<div class = "profile_top>
<class="profile 

<div class ='taker-worker>"
Ys
